workflows/drafts/cold-email/CE1-patched-v4.json
{"name": "CE-1 Lead Qualification Engine", "nodes": [{"parameters": {"content": "## CE-1: Lead Qualification Engine\n\n**Trigger:** Row added in Raw Leads tab\n**Flow:** Apify (Google Maps) \u2192 Jina.ai (website) \u2192 Claude (ICP scoring) \u2192 Route to Approved Leads or Review Queue\n\n**Spreadsheet:** Cold Email Outreach \u2014 Zelvop\n**ID:** 1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "height": 300, "width": 420}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000001", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-208, -400]}, {"parameters": {"pollTimes": {"item": [{"mode": "everyMinute"}]}, "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "list", "cachedResultName": "Cold Email Outreach \u2014 Zelvop", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Raw Leads", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU/edit#gid=0"}, "event": "rowAdded", "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000010", "name": "New Lead Trigger", "type": "n8n-nodes-base.googleSheetsTrigger", "typeVersion": 1, "position": [-208, 64], "credentials": {"googleSheetsTriggerOAuth2Api": {"id": "E2pL4RCwwnxZSv1L", "name": "Google Sheets Trigger account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "check-score", "leftValue": "={{ $json['ICP Score'] }}", "rightValue": "", "operator": {"type": "string", "operation": "empty", "singleValue": true}}, {"id": "check-maps-url", "leftValue": "={{ $json['Google Maps URL'] }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}, {"id": "85186414-92e3-4c74-98ff-760dd51a6398", "leftValue": "={{ $json.Status }}", "rightValue": "Pending", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000020", "name": "Filter Already Scored", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [16, 64]}, {"parameters": {"method": "POST", "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ \"startUrls\": [{ \"url\": $json['Google Maps URL'] }], \"maxReviews\": 20, \"language\": \"en\" }) }}", "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}, "timeout": 60000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000030", "name": "Apify Start Scraper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 64], "credentials": {"httpHeaderAuth": {"id": "JFJHpRwTtiSH45ng", "name": "Apify API"}}}, {"parameters": {"amount": 30}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000035", "name": "Wait for Scraper", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [464, 64], "webhookId": "e8736763-770f-4af2-bf35-76aa286e1eb9"}, {"parameters": {"url": "={{ 'https://api.apify.com/v2/datasets/' + $('Apify Start Scraper').item.json.body.data.defaultDatasetId + '/items' }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "options": {"response": {"response": {"responseFormat": "json"}}}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000040", "name": "Apify Get Results", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [688, 64], "credentials": {"httpHeaderAuth": {"id": "JFJHpRwTtiSH45ng", "name": "Apify API"}}}, {"parameters": {"jsCode": "// Extract key fields from Apify Google Maps Scraper results\nconst apifyData = $input.all();\nconst lead = $('New Lead Trigger').item.json;\n\n// Apify returns an array of place results \u2014 take the first\nconst place = apifyData[0]?.json || {};\n\nconst reviews = (place.reviews || []).map(r => r.text || r.textTranslated || '').filter(Boolean);\n\nreturn [{\n  json: {\n    // Original lead data (matching Raw Leads column names)\n    rowId: lead['Row ID'] || '',\n    businessName: lead['Business Name'] || '',\n    ownerFirstName: lead['Owner First Name'] || '',\n    ownerLastName: lead['Owner Last Name'] || '',\n    city: lead['City'] || '',\n    businessPhone: lead['Business Phone'] || '',\n    websiteURL: lead['Website URL'] || place.website || '',\n    googleMapsURL: lead['Google Maps URL'] || '',\n    yelpURL: lead['Yelp URL'] || '',\n    source: lead['Source'] || '',\n    dateAdded: lead['Date Added'] || '',\n    researchNotes: lead['Research Notes'] || '',\n    // Apify enrichment\n    category: place.categoryName || '',\n    totalScore: place.totalScore || 0,\n    reviewsCount: place.reviewsCount || 0,\n    phone: place.phone || lead['Business Phone'] || '',\n    website: lead['Website URL'] || place.website || '',\n    reviewTexts: reviews.slice(0, 20).join('\\n---\\n'),\n    hasBookingLink: !!(place.orderUrl || place.bookingUrl),\n    ownerResponseCount: (place.reviews || []).filter(r => r.responseFromOwnerText).length,\n    row_number: lead.row_number\n  }\n}];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000050", "name": "Extract Apify Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [912, 64]}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($json.website) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 30000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000060", "name": "Jina Website Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1136, 64]}, {"parameters": {"jsCode": "// Merge all pages + regex-extract contacts BEFORE truncation\nconst prev = $('Extract Apify Data').item.json;\n\nconst getRaw = (nodeName) => {\n  try {\n    const item = $(nodeName).item.json;\n    return (item.data || item.body || '').toString();\n  } catch(e) { return ''; }\n};\n\nconst homepageRaw = getRaw('Jina Website Fetch');\nconst contactRaw  = getRaw('Jina Contact Fetch');\nconst aboutRaw    = getRaw('Jina About Fetch');\n\n// \u2500\u2500 REGEX EXTRACTION on full untruncated text \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst allRaw = [homepageRaw, contactRaw, aboutRaw].join('\\n');\n\nconst emailMatches = [...new Set(\n  (allRaw.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g) || [])\n  .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp|css|js)$/i))\n)];\n\nconst phoneMatches = [...new Set(\n  (allRaw.match(/\\(?\\d{3}\\)?[\\s.\\-]?\\d{3}[\\s.\\-]?\\d{4}/g) || [])\n  .map(p => p.trim())\n)];\n\n// \u2500\u2500 NOISE STRIPPING \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst BOILERPLATE = /cookie policy|privacy policy|terms of service|all rights reserved|\u00a9\\s*\\d{4}|back to top|skip to content|subscribe to our|sign up for our newsletter|follow us on|powered by|unsubscribe/i;\n\nconst stripNoise = (text) => {\n  const lines = text\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')                        // remove image markdown ![alt](url)\n    .replace(/\\[([^\\]]{1,60})\\]\\(https?:\\/\\/[^\\)]+\\)/g, '$1') // [text](url) \u2192 text (keep label)\n    .replace(/^https?:\\/\\/\\S+$/gm, '')                      // remove bare URL-only lines\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')         // HTML entities\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .split('\\n');\n\n  return lines\n    .filter(line => {\n      const t = line.trim();\n      if (!t) return true;                                   // keep blanks for paragraph spacing\n      if (BOILERPLATE.test(t)) return false;                 // remove boilerplate\n      // Remove single nav-style words (Home, Services, Contact, Blog\u2026)\n      const words = t.split(/\\s+/).filter(Boolean);\n      if (words.length === 1 && t.length < 20) return false;\n      return true;\n    })\n    .join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n};\n\n// \u2500\u2500 DEDUPLICATION across pages \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Track paragraphs already seen (by first 80 chars) so repeated header/footer\n// content on every page doesn't consume Claude's context window.\nconst seenKeys = new Set();\n\nconst dedup = (text) => {\n  return text.split('\\n\\n')\n    .filter(para => {\n      const key = para.trim().substring(0, 80);\n      if (key.length < 40) return true;        // keep short chunks (addresses, labels)\n      if (seenKeys.has(key)) return false;     // duplicate \u2014 skip\n      seenKeys.add(key);\n      return true;\n    })\n    .join('\\n\\n');\n};\n\nconst homepageClean = dedup(stripNoise(homepageRaw));\nconst contactClean  = dedup(stripNoise(contactRaw));\nconst aboutClean    = dedup(stripNoise(aboutRaw));\n\n// \u2500\u2500 ASSEMBLE with section labels \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Homepage: first 2000 chars + last 500 (footer area has contacts/emails)\nconst homepageHead = homepageClean.substring(0, 2000);\nconst homepageTail = homepageClean.length > 2500\n  ? '\\n--- footer ---\\n' + homepageClean.slice(-500)\n  : '';\n\n// Contact page: up to 1500 chars (skip if it's the same as homepage \u2014 some sites duplicate)\nconst contactSection = (contactClean && contactClean.substring(0, 80) !== homepageClean.substring(0, 80))\n  ? contactClean.substring(0, 1500)\n  : '';\n\n// About page: up to 5000 chars\nconst aboutSection = aboutClean.substring(0, 5000);\n\nconst websiteText = [\n  '=== HOMEPAGE ===',\n  homepageHead + homepageTail,\n  contactSection ? '=== CONTACT PAGE ===' : '',\n  contactSection,\n  aboutSection ? '=== ABOUT PAGE ===' : '',\n  aboutSection\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: {\n  ...prev,\n  websiteText,\n  foundEmails: emailMatches,\n  foundPhones: phoneMatches\n} }];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000065", "name": "Combine Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 64]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an ICP scoring engine and contact extractor for Zelvop \u2014 scheduling, dispatch, and operations software for cleaning companies.\\n\\nDo TWO things and return a single JSON object.\\n\\nTASK 1 \u2014 ICP Score (1-10):\\nHIGH weight:\\n- Team size signals: mentions of crew, multiple cleaners, 'our team' = higher score. Solo operator = lower.\\n- Booking method: WhatsApp/phone-only = manual pain (good). Existing online booking system = lower need.\\n- Airbnb/vacation rental cleaning = high score (proven Zelvop use case).\\n- Franchise or chain brand = auto-disqualify, score 1.\\nMEDIUM weight:\\n- Review count sweet spot: 40-80 (established but not enterprise). Under 20 = too small. Over 150 = likely too big.\\n- Owner personally responds to reviews = decision maker is accessible.\\n\\nTASK 2 \u2014 Best contact (pick from pre-extracted lists only):\\n- email: from the emails list \u2014 prefer hello@, info@, or name-based. Ignore noreply@, support@.\\n- phone: from the phones list \u2014 pick the main business number.\\n- ownerFirstName / ownerLastName: look in About page and review responses for founder/owner name.\\n\\n<lead>\\n  <business>\\n    <name>\" + $json.businessName + \"</name>\\n    <city>\" + $json.city + \"</city>\\n    <category>\" + $json.category + \"</category>\\n    <rating>\" + $json.totalScore + \"</rating>\\n    <review_count>\" + $json.reviewsCount + \"</review_count>\\n    <has_online_booking>\" + $json.hasBookingLink + \"</has_online_booking>\\n    <owner_response_count>\" + $json.ownerResponseCount + \"</owner_response_count>\\n  </business>\\n\\n  <pre_extracted_contacts>\\n    <emails>\" + JSON.stringify($json.foundEmails) + \"</emails>\\n    <phones>\" + JSON.stringify($json.foundPhones) + \"</phones>\\n  </pre_extracted_contacts>\\n\\n  <customer_reviews>\\n\" + $json.reviewTexts + \"\\n  </customer_reviews>\\n\\n  <website_content>\\n\" + $json.websiteText + \"\\n  </website_content>\\n</lead>\\n\\nReturn ONLY valid JSON, no markdown fences:\\n{\\n  \\\"score\\\": <1-10>,\\n  \\\"reason\\\": \\\"<one sentence>\\\",\\n  \\\"painSignal\\\": \\\"<specific pain signal or null>\\\",\\n  \\\"emailAngle\\\": \\\"<suggested angle for first outreach email>\\\",\\n  \\\"ownerFirstName\\\": \\\"<from content or null>\\\",\\n  \\\"ownerLastName\\\": \\\"<from content or null>\\\",\\n  \\\"email\\\": \\\"<from emails list or null>\\\",\\n  \\\"phone\\\": \\\"<from phones list or null>\\\"\\n}\"\n    }\n  ]\n}) }}", "options": {"response": {"response": {"responseFormat": "json"}}, "timeout": 30000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000070", "name": "Claude ICP Scoring", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2032, 64], "credentials": {"httpHeaderAuth": {"id": "zlY2A0vDJbGDd7Ey", "name": "Claude API"}}}, {"parameters": {"jsCode": "const claudeResponse = $json;\nconst prevData = $('Combine Data').item.json;\n\nlet scoreData;\ntry {\n  let text = claudeResponse.content[0].text;\n  text = text.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  scoreData = JSON.parse(text);\n} catch (e) {\n  const text = claudeResponse.content[0]?.text || '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { scoreData = JSON.parse(match[0]); }\n    catch (e2) { scoreData = { score: 0, reason: 'Parse error: ' + e2.message, painSignal: null, emailAngle: null, ownerFirstName: null, ownerLastName: null, email: null, phone: null }; }\n  } else {\n    scoreData = { score: 0, reason: 'Parse error: ' + e.message, painSignal: null, emailAngle: null, ownerFirstName: null, ownerLastName: null, email: null, phone: null };\n  }\n}\n\nconst nullStr = (v) => (v && v !== 'null' && v !== 'undefined') ? v : null;\n\nreturn [{ json: {\n  ...prevData,\n  icpScore:       scoreData.score,\n  icpReason:      scoreData.reason,\n  painSignal:     scoreData.painSignal,\n  emailAngle:     scoreData.emailAngle,\n  ownerFirstName: nullStr(scoreData.ownerFirstName) || prevData.ownerFirstName || null,\n  ownerLastName:  nullStr(scoreData.ownerLastName)  || prevData.ownerLastName  || null,\n  extractedEmail: nullStr(scoreData.email),\n  extractedPhone: nullStr(scoreData.phone) || prevData.businessPhone || null,\n  scoredAt:       new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000080", "name": "Parse Claude Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2256, 64]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "score-check", "leftValue": "={{ $json.icpScore }}", "rightValue": 7, "operator": {"type": "number", "operation": "gte"}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000090", "name": "Score Router", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2480, -32]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "1866609254", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Row ID": "={{ $json.rowId }}", "Business Name": "={{ $json.businessName }}", "Owner First Name": "={{ $json.ownerFirstName }}", "City": "={{ $json.city }}", "ICP Score": "={{ $json.icpScore }}", "Pain Signal": "={{ $json.painSignal }}", "Website URL": "={{ $json.websiteURL }}", "Email Address": "={{ $json.extractedEmail }}", "Date Entered Tab": "={{ $json.scoredAt }}"}, "matchingColumns": [], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Owner First Name", "displayName": "Owner First Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Pain Signal", "displayName": "Pain Signal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Website URL", "displayName": "Website URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email Address", "displayName": "Email Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email Source", "displayName": "Email Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Verification Status", "displayName": "Verification Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email 1 Subject", "displayName": "Email 1 Subject", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email 1 Body", "displayName": "Email 1 Body", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Approval Status", "displayName": "Approval Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Rejection Feedback", "displayName": "Rejection Feedback", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Approval Date", "displayName": "Approval Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Manual Override Notes", "displayName": "Manual Override Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Sequence Started", "displayName": "Sequence Started", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Entered Tab", "displayName": "Date Entered Tab", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "replyCategory", "displayName": "replyCategory", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "followUpDate", "displayName": "followUpDate", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "approvedAt", "displayName": "approvedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000100", "name": "Write Approved Leads", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2704, -128], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "989136210", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Row ID": "={{ $json.rowId }}", "Business Name": "={{ $json.businessName }}", "City": "={{ $json.city }}", "ICP Score": "={{ $json.icpScore }}", "ICP Score Reason": "={{ $json.icpReason }}", "Research Notes": "={{ $json.researchNotes }}", "Date Entered Queue": "={{ $json.scoredAt }}"}, "matchingColumns": [], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score Reason", "displayName": "ICP Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Research Notes", "displayName": "Research Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Your Decision", "displayName": "Your Decision", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Override Reason", "displayName": "Override Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Decision Date", "displayName": "Decision Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Entered Queue", "displayName": "Date Entered Queue", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000110", "name": "Write Review Queue", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2704, 64], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"operation": "update", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "0", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Business Name": "={{ $json.businessName }}", "Owner First Name": "={{ $json.ownerFirstName }}", "Owner Last Name": "={{ $json.ownerLastName }}", "Business Phone": "={{ $json.extractedPhone }}", "ICP Score": "={{ $json.icpScore }}", "ICP Score Reason": "={{ $json.icpReason }}", "Pain Signal Detected": "={{ $json.painSignal }}", "Email Angle": "={{ $json.emailAngle }}", "Date Scored": "={{ $json.scoredAt }}", "row_number": 0}, "matchingColumns": ["Business Name"], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Owner First Name", "displayName": "Owner First Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Owner Last Name", "displayName": "Owner Last Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Business Phone", "displayName": "Business Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Website URL", "displayName": "Website URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Google Maps URL", "displayName": "Google Maps URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Yelp URL", "displayName": "Yelp URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Added", "displayName": "Date Added", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Research Notes", "displayName": "Research Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score Reason", "displayName": "ICP Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Pain Signal Detected", "displayName": "Pain Signal Detected", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email Angle", "displayName": "Email Angle", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Date Scored", "displayName": "Date Scored", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000120", "name": "Update Raw Lead Score", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2480, 160], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($('Extract Apify Data').item.json.website.replace(/\\/+$/, '') + '/contact') }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 20000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000061", "name": "Jina Contact Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1360, 64], "continueOnFail": true}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($('Extract Apify Data').item.json.website.replace(/\\/+$/, '') + '/about') }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 20000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000062", "name": "Jina About Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1584, 64], "continueOnFail": true}, {"parameters": {"url": "={{ 'https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs/' + $('Apify Start Scraper').item.json.body.data.id }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}}}, "id": "a1b2c3d4-ce01-4aaa-bbbb-poll000000001", "name": "Check Apify Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [600, 64], "credentials": {"httpHeaderAuth": {"id": "JFJHpRwTtiSH45ng", "name": "Apify API"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "condition-run-done", "leftValue": "={{ $json.body.data.status }}", "rightValue": "SUCCEEDED", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-ce01-4aaa-bbbb-poll000000002", "name": "Is Run Done?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [720, 64]}], "connections": {"New Lead Trigger": {"main": [[{"node": "Filter Already Scored", "type": "main", "index": 0}]]}, "Filter Already Scored": {"main": [[{"node": "Apify Start Scraper", "type": "main", "index": 0}]]}, "Apify Start Scraper": {"main": [[{"node": "Wait for Scraper", "type": "main", "index": 0}]]}, "Wait for Scraper": {"main": [[{"node": "Check Apify Status", "type": "main", "index": 0}]]}, "Apify Get Results": {"main": [[{"node": "Extract Apify Data", "type": "main", "index": 0}]]}, "Extract Apify Data": {"main": [[{"node": "Jina Website Fetch", "type": "main", "index": 0}]]}, "Jina Website Fetch": {"main": [[{"node": "Jina Contact Fetch", "type": "main", "index": 0}]]}, "Combine Data": {"main": [[{"node": "Claude ICP Scoring", "type": "main", "index": 0}]]}, "Claude ICP Scoring": {"main": [[{"node": "Parse Claude Score", "type": "main", "index": 0}]]}, "Parse Claude Score": {"main": [[{"node": "Score Router", "type": "main", "index": 0}, {"node": "Update Raw Lead Score", "type": "main", "index": 0}]]}, "Score Router": {"main": [[{"node": "Write Approved Leads", "type": "main", "index": 0}], [{"node": "Write Review Queue", "type": "main", "index": 0}]]}, "Jina Contact Fetch": {"main": [[{"node": "Jina About Fetch", "type": "main", "index": 0}]]}, "Jina About Fetch": {"main": [[{"node": "Combine Data", "type": "main", "index": 0}]]}, "Check Apify Status": {"main": [[{"node": "Is Run Done?", "type": "main", "index": 0}]]}, "Is Run Done?": {"main": [[{"node": "Apify Get Results", "type": "main", "index": 0}], [{"node": "Wait for Scraper", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}