workflows/drafts/cold-email/CE1-patched.json
{"name": "CE-1 Lead Qualification Engine", "nodes": [{"parameters": {"content": "## CE-1: Lead Qualification Engine\n\n**Trigger:** Row added in Raw Leads tab\n**Flow:** Apify (Google Maps) \u2192 Jina.ai (website) \u2192 Claude (ICP scoring) \u2192 Route to Approved Leads or Review Queue\n\n**Spreadsheet:** Cold Email Outreach \u2014 Zelvop\n**ID:** 1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "height": 300, "width": 420}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000001", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-208, -400]}, {"parameters": {"pollTimes": {"item": [{"mode": "everyMinute"}]}, "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "list", "cachedResultName": "Cold Email Outreach \u2014 Zelvop", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Raw Leads", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU/edit#gid=0"}, "event": "rowAdded", "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000010", "name": "New Lead Trigger", "type": "n8n-nodes-base.googleSheetsTrigger", "typeVersion": 1, "position": [-208, 64], "credentials": {"googleSheetsTriggerOAuth2Api": {"id": "E2pL4RCwwnxZSv1L", "name": "Google Sheets Trigger account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "check-score", "leftValue": "={{ $json['ICP Score'] }}", "rightValue": "", "operator": {"type": "string", "operation": "empty"}}, {"id": "check-maps-url", "leftValue": "={{ $json['Google Maps URL'] }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000020", "name": "Filter Already Scored", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [16, 64]}, {"parameters": {"method": "POST", "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ \"startUrls\": [{ \"url\": $json['Google Maps URL'] }], \"maxReviews\": 20, \"language\": \"en\" }) }}", "options": {"response": {"response": {"responseFormat": "json"}}, "timeout": 60000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000030", "name": "Apify Start Scraper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 64], "credentials": {"httpHeaderAuth": {"id": "JFJHpRwTtiSH45ng", "name": "Apify API"}}}, {"parameters": {"amount": 90}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000035", "name": "Wait for Scraper", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [464, 64], "webhookId": "e8736763-770f-4af2-bf35-76aa286e1eb9"}, {"parameters": {"url": "={{ 'https://api.apify.com/v2/datasets/' + $('Apify Start Scraper').item.json.data.defaultDatasetId + '/items' }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "options": {"response": {"response": {"responseFormat": "json"}}}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000040", "name": "Apify Get Results", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [688, 64], "credentials": {"httpHeaderAuth": {"id": "JFJHpRwTtiSH45ng", "name": "Apify API"}}}, {"parameters": {"jsCode": "// Extract key fields from Apify Google Maps Scraper results\nconst apifyData = $input.all();\nconst lead = $('New Lead Trigger').item.json;\n\n// Apify returns an array of place results \u2014 take the first\nconst place = apifyData[0]?.json || {};\n\nconst reviews = (place.reviews || []).map(r => r.text || r.textTranslated || '').filter(Boolean);\n\nreturn [{\n  json: {\n    // Original lead data (matching Raw Leads column names)\n    rowId: lead['Row ID'] || '',\n    businessName: lead['Business Name'] || '',\n    ownerFirstName: lead['Owner First Name'] || '',\n    ownerLastName: lead['Owner Last Name'] || '',\n    city: lead['City'] || '',\n    businessPhone: lead['Business Phone'] || '',\n    websiteURL: lead['Website URL'] || place.website || '',\n    googleMapsURL: lead['Google Maps URL'] || '',\n    yelpURL: lead['Yelp URL'] || '',\n    source: lead['Source'] || '',\n    dateAdded: lead['Date Added'] || '',\n    researchNotes: lead['Research Notes'] || '',\n    // Apify enrichment\n    category: place.categoryName || '',\n    totalScore: place.totalScore || 0,\n    reviewsCount: place.reviewsCount || 0,\n    phone: place.phone || lead['Business Phone'] || '',\n    website: lead['Website URL'] || place.website || '',\n    reviewTexts: reviews.slice(0, 20).join('\\n---\\n'),\n    hasBookingLink: !!(place.orderUrl || place.bookingUrl),\n    ownerResponseCount: (place.reviews || []).filter(r => r.responseFromOwnerText).length,\n    row_number: lead.row_number\n  }\n}];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000050", "name": "Extract Apify Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [912, 64]}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($json.website) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 30000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000060", "name": "Jina Website Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1136, 64]}, {"parameters": {"jsCode": "// Merge all pages + regex-extract contacts BEFORE truncation\nconst prev = $('Extract Apify Data').item.json;\n\nconst getRaw = (nodeName) => {\n  try {\n    const item = $(nodeName).item.json;\n    return (item.data || item.body || '').toString();\n  } catch(e) { return ''; }\n};\n\nconst homepageRaw = getRaw('Jina Website Fetch');\nconst contactRaw  = getRaw('Jina Contact Fetch');\nconst aboutRaw    = getRaw('Jina About Fetch');\n\n// \u2500\u2500 REGEX EXTRACTION on full untruncated text \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst allRaw = [homepageRaw, contactRaw, aboutRaw].join('\\n');\n\n// Extract all emails (deduplicated)\nconst emailMatches = [...new Set(\n  (allRaw.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g) || [])\n  .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp|css|js)$/i))  // skip image filenames\n)];\n\n// Extract all phone numbers (deduplicated)\nconst phoneMatches = [...new Set(\n  (allRaw.match(/\\(?\\d{3}\\)?[\\s.\\-]?\\d{3}[\\s.\\-]?\\d{4}/g) || [])\n  .map(p => p.trim())\n)];\n\n// \u2500\u2500 STRIP NOISE before truncation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst stripNoise = (text) => text\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')           // remove ![Image](url)\n  .replace(/\\*\\s+\\[.*?\\]\\(https?:\\/\\/[^\\)]+\\)\\n?/g, '')  // remove nav bullet links\n  .replace(/\\[Skip to.*?\\]\\(.*?\\)\\n?/gi, '') // remove skip-to links\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst homepageClean = stripNoise(homepageRaw);\nconst contactClean  = stripNoise(contactRaw);\nconst aboutClean    = stripNoise(aboutRaw);\n\n// Homepage: first 2000 + last 600 (footer)\nconst homepageMain   = homepageClean.substring(0, 2000);\nconst homepageFooter = homepageClean.length > 2600\n  ? '\\n=== FOOTER ===\\n' + homepageClean.substring(homepageClean.length - 600)\n  : '';\n\n// Contact: skip if duplicate of homepage\nconst contactSection = contactClean && contactClean.substring(0, 200) !== homepageClean.substring(0, 200)\n  ? '=== CONTACT PAGE ===\\n' + contactClean.substring(0, 1200)\n  : '';\n\n// About: first 5000 clean chars\nconst aboutSection = aboutClean\n  ? '=== ABOUT PAGE ===\\n' + aboutClean.substring(0, 5000)\n  : '';\n\nconst websiteText = [\n  '=== HOMEPAGE ===',\n  homepageMain + homepageFooter,\n  contactSection,\n  aboutSection\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: {\n  ...prev,\n  websiteText,\n  foundEmails: emailMatches,\n  foundPhones: phoneMatches\n} }];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000065", "name": "Combine Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 64]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an ICP (Ideal Customer Profile) scoring engine AND contact extractor for a cleaning business automation company called Zelvop. We sell scheduling, dispatch, and operations software to cleaning companies.\\n\\nDo TWO things:\\n\\n**TASK 1 \u2014 Score this lead from 1-10:**\\n\\n**High Weight:**\\n- Team size: Reviews mentioning 'the team', 'crew', multiple cleaners = higher score\\n- Booking method: WhatsApp/phone-only = good (manual pain). Online booking system = less need for our product\\n- Airbnb/vacation rental cleaning mentioned in reviews or website = high score (proven use case)\\n- Franchise/chain brand detected = auto-disqualify (score 1)\\n\\n**Medium Weight:**\\n- Review count: 40-80 is sweet spot (established but not enterprise). Under 20 = too small, over 150 = too big\\n- Owner responds to reviews personally = decision maker accessible\\n\\n**TASK 2 \u2014 Identify the best contact:**\\n- ownerFirstName: Look in About page text for owner/founder name. Also check review responses for signatures\\n- ownerLastName: Same sources\\n- email: Pre-extracted emails are listed below \u2014 pick the most likely BUSINESS contact email (prefer info@, hello@, owner name). Ignore noreply@, support@, or image filenames\\n- phone: Pre-extracted phones listed below \u2014 pick the main business number\\n\\n**Lead Data:**\\n- Business: \" + $json.businessName + \"\\n- City: \" + $json.city + \"\\n- Category: \" + $json.category + \"\\n- Rating: \" + $json.totalScore + \"\\n- Review Count: \" + $json.reviewsCount + \"\\n- Has Online Booking: \" + $json.hasBookingLink + \"\\n- Owner Review Responses: \" + $json.ownerResponseCount + \"\\n\\n**Pre-extracted emails (regex from all pages):** \" + JSON.stringify($json.foundEmails) + \"\\n**Pre-extracted phones (regex from all pages):** \" + JSON.stringify($json.foundPhones) + \"\\n\\n**Reviews (last 20):**\\n\" + $json.reviewTexts + \"\\n\\n**Website Text (homepage + footer + contact + about):**\\n\" + $json.websiteText + \"\\n\\nRespond with ONLY a valid JSON object, no markdown, no explanation:\\n{\\n  \\\"score\\\": <1-10>,\\n  \\\"reason\\\": \\\"<one sentence explaining the score>\\\",\\n  \\\"painSignal\\\": \\\"<specific pain point or null>\\\",\\n  \\\"emailAngle\\\": \\\"<suggested angle for Email 1>\\\",\\n  \\\"ownerFirstName\\\": \\\"<extracted first name or null>\\\",\\n  \\\"ownerLastName\\\": \\\"<extracted last name or null>\\\",\\n  \\\"email\\\": \\\"<best business email from pre-extracted list or null>\\\",\\n  \\\"phone\\\": \\\"<best phone from pre-extracted list or null>\\\"\\n}\"\n    }\n  ]\n}) }}", "options": {"response": {"response": {"responseFormat": "json"}}, "timeout": 30000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000070", "name": "Claude ICP Scoring", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2032, 64], "credentials": {"httpHeaderAuth": {"id": "zlY2A0vDJbGDd7Ey", "name": "Claude API"}}}, {"parameters": {"jsCode": "const claudeResponse = $json;\nconst prevData = $('Combine Data').item.json;\n\nlet scoreData;\ntry {\n  let text = claudeResponse.content[0].text;\n  text = text.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  scoreData = JSON.parse(text);\n} catch (e) {\n  const text = claudeResponse.content[0]?.text || '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { scoreData = JSON.parse(match[0]); }\n    catch (e2) { scoreData = { score: 0, reason: 'Parse error: ' + e2.message, painSignal: null, emailAngle: null, ownerFirstName: null, ownerLastName: null, email: null, phone: null }; }\n  } else {\n    scoreData = { score: 0, reason: 'Parse error: ' + e.message, painSignal: null, emailAngle: null, ownerFirstName: null, ownerLastName: null, email: null, phone: null };\n  }\n}\n\nconst nullStr = (v) => (v && v !== 'null' && v !== 'undefined') ? v : null;\n\nreturn [{ json: {\n  ...prevData,\n  icpScore:       scoreData.score,\n  icpReason:      scoreData.reason,\n  painSignal:     scoreData.painSignal,\n  emailAngle:     scoreData.emailAngle,\n  ownerFirstName: nullStr(scoreData.ownerFirstName) || prevData.ownerFirstName || null,\n  ownerLastName:  nullStr(scoreData.ownerLastName)  || prevData.ownerLastName  || null,\n  extractedEmail: nullStr(scoreData.email),\n  extractedPhone: nullStr(scoreData.phone) || prevData.businessPhone || null,\n  scoredAt:       new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000080", "name": "Parse Claude Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2256, 64]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "score-check", "leftValue": "={{ $json.icpScore }}", "rightValue": 7, "operator": {"type": "number", "operation": "gte"}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000090", "name": "Score Router", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2480, -32]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "1866609254", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Row ID": "={{ $json.rowId }}", "Business Name": "={{ $json.businessName }}", "Owner First Name": "={{ $json.ownerFirstName }}", "City": "={{ $json.city }}", "ICP Score": "={{ $json.icpScore }}", "Pain Signal": "={{ $json.painSignal }}", "Website URL": "={{ $json.websiteURL }}", "Email Address": "={{ $json.extractedEmail }}", "Date Entered Tab": "={{ $json.scoredAt }}"}, "matchingColumns": [], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Owner First Name", "displayName": "Owner First Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Pain Signal", "displayName": "Pain Signal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Website URL", "displayName": "Website URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email Address", "displayName": "Email Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email Source", "displayName": "Email Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Verification Status", "displayName": "Verification Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email 1 Subject", "displayName": "Email 1 Subject", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Email 1 Body", "displayName": "Email 1 Body", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Approval Status", "displayName": "Approval Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Rejection Feedback", "displayName": "Rejection Feedback", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Approval Date", "displayName": "Approval Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Manual Override Notes", "displayName": "Manual Override Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Sequence Started", "displayName": "Sequence Started", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Entered Tab", "displayName": "Date Entered Tab", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "replyCategory", "displayName": "replyCategory", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "followUpDate", "displayName": "followUpDate", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "approvedAt", "displayName": "approvedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000100", "name": "Write Approved Leads", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2704, -128], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "989136210", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Row ID": "={{ $json.rowId }}", "Business Name": "={{ $json.businessName }}", "City": "={{ $json.city }}", "ICP Score": "={{ $json.icpScore }}", "ICP Score Reason": "={{ $json.icpReason }}", "Research Notes": "={{ $json.researchNotes }}", "Date Entered Queue": "={{ $json.scoredAt }}"}, "matchingColumns": [], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score Reason", "displayName": "ICP Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Research Notes", "displayName": "Research Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Your Decision", "displayName": "Your Decision", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Override Reason", "displayName": "Override Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Decision Date", "displayName": "Decision Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Entered Queue", "displayName": "Date Entered Queue", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000110", "name": "Write Review Queue", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2704, 64], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"operation": "update", "documentId": {"__rl": true, "value": "1XZFkpgFbidxelGcZZ6_C3YjwktAJOqFbZ9h-AlndcXU", "mode": "id"}, "sheetName": {"__rl": true, "value": "0", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Business Name": "={{ $json.businessName }}", "Owner First Name": "={{ $json.ownerFirstName }}", "Owner Last Name": "={{ $json.ownerLastName }}", "Business Phone": "={{ $json.extractedPhone }}", "ICP Score": "={{ $json.icpScore }}", "ICP Score Reason": "={{ $json.icpReason }}", "Pain Signal Detected": "={{ $json.painSignal }}", "Email Angle": "={{ $json.emailAngle }}", "Status": "SCORED", "Date Scored": "={{ $json.scoredAt }}", "row_number": 0}, "matchingColumns": ["Business Name"], "schema": [{"id": "Row ID", "displayName": "Row ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Owner First Name", "displayName": "Owner First Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Owner Last Name", "displayName": "Owner Last Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "City", "displayName": "City", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Business Phone", "displayName": "Business Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Website URL", "displayName": "Website URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Google Maps URL", "displayName": "Google Maps URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Yelp URL", "displayName": "Yelp URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Date Added", "displayName": "Date Added", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Research Notes", "displayName": "Research Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ICP Score Reason", "displayName": "ICP Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Pain Signal Detected", "displayName": "Pain Signal Detected", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email Angle", "displayName": "Email Angle", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Date Scored", "displayName": "Date Scored", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000120", "name": "Update Raw Lead Score", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [2480, 160], "credentials": {"googleSheetsOAuth2Api": {"id": "q52dbWoN6OaKRDZO", "name": "Google Sheets account"}}}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($('Extract Apify Data').item.json.website.replace(/\\/+$/, '') + '/contact') }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 20000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000061", "name": "Jina Contact Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1360, 64], "continueOnFail": true}, {"parameters": {"url": "={{ 'https://r.jina.ai/' + encodeURIComponent($('Extract Apify Data').item.json.website.replace(/\\/+$/, '') + '/about') }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "text/plain"}]}, "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 20000}}, "id": "a1b2c3d4-0001-4aaa-bbbb-000000000062", "name": "Jina About Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1584, 64], "continueOnFail": true}], "connections": {"New Lead Trigger": {"main": [[{"node": "Filter Already Scored", "type": "main", "index": 0}]]}, "Filter Already Scored": {"main": [[{"node": "Apify Start Scraper", "type": "main", "index": 0}]]}, "Apify Start Scraper": {"main": [[{"node": "Wait for Scraper", "type": "main", "index": 0}]]}, "Wait for Scraper": {"main": [[{"node": "Apify Get Results", "type": "main", "index": 0}]]}, "Apify Get Results": {"main": [[{"node": "Extract Apify Data", "type": "main", "index": 0}]]}, "Extract Apify Data": {"main": [[{"node": "Jina Website Fetch", "type": "main", "index": 0}]]}, "Jina Website Fetch": {"main": [[{"node": "Jina Contact Fetch", "type": "main", "index": 0}]]}, "Combine Data": {"main": [[{"node": "Claude ICP Scoring", "type": "main", "index": 0}]]}, "Claude ICP Scoring": {"main": [[{"node": "Parse Claude Score", "type": "main", "index": 0}]]}, "Parse Claude Score": {"main": [[{"node": "Score Router", "type": "main", "index": 0}, {"node": "Update Raw Lead Score", "type": "main", "index": 0}]]}, "Score Router": {"main": [[{"node": "Write Approved Leads", "type": "main", "index": 0}], [{"node": "Write Review Queue", "type": "main", "index": 0}]]}, "Jina Contact Fetch": {"main": [[{"node": "Jina About Fetch", "type": "main", "index": 0}]]}, "Jina About Fetch": {"main": [[{"node": "Combine Data", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}