workflows/active/cleaning/workflow-2-cleaner-assignment.json
{
    "updatedAt": "2026-03-24T16:12:12.518Z",
    "createdAt": "2026-03-03T14:46:02.390Z",
    "id": "AU1w579al67hGom7",
    "name": "PHASE 2  Cleaner Assignment + Calendar Dispatch",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "766791868",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "5a2f6f55-d339-4b17-bb96-9bd7ef7f5756",
            "name": "Read Properties",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -8160,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Tab: CleanersProfile. Columns: property UID, cleaner ID, calendar ID, email, name, contact. Used by Assign Cleaner for lookup."
        },
        {
            "parameters": {
                "jsCode": "// Pass one item so Read Pending Cleaning Jobs runs once (CleanersProfile data is available via $('Read CleanersProfile').all() later).\nreturn [$input.first()];"
            },
            "id": "b11fc9bd-7e0f-4cea-9d91-181395b41eb1",
            "name": "Single Item for Read Jobs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7488,
                0
            ],
            "notes": "Outputs one item so downstream Read Pending Cleaning Jobs runs once. CleanersProfile rows are read once and referenced in Assign Cleaner."
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "2f0a26b3-74ed-4155-b6e7-d380e99c957e",
            "name": "Read Pending Cleaning Jobs",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -7264,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Same spreadsheet as Phase 1. Sheet: CleaningJobs. Reads all rows; Filter Pending Only filters by status=PENDING and empty cleanerId."
        },
        {
            "parameters": {
                "jsCode": "// CleaningJobs sheet has 'status' (not cleaningStatus). Keep only PENDING, no cleaner assigned, no event yet, processingFlag empty (row-level lock).\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const j = item.json || {};\n  const status = (j.status ?? '').toString().trim();\n  const cleanerId = (j.cleanerId ?? '').toString().trim();\n  const hasEvent = (j.calendarEventId ?? '').toString().trim() !== '';\n  const processingFlag = (j.processingFlag ?? '').toString().trim();\n  return status === 'PENDING' && cleanerId === '' && !hasEvent && processingFlag === '';\n});\nreturn filtered;"
            },
            "id": "c52ef806-58f3-4ee8-9978-560fc5cd8bfb",
            "name": "Filter Pending Only",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7040,
                0
            ],
            "notes": "Ensures we only process PENDING + empty cleanerId. Skips if calendarEventId already set (no duplicate events)."
        },
        {
            "parameters": {
                "jsCode": "// Attach Properties, CleanersProfile, and ALL CleaningJobs so Assign Cleaner can do availability checks inside the loop.\nlet properties = [];\nlet cleaners = [];\nlet allJobs = [];\ntry {\n  const pNode = $('Read Properties');\n  if (pNode && typeof pNode.all === 'function') properties = pNode.all();\n} catch (_) {}\ntry {\n  const cNode = $('Read CleanersProfile');\n  if (cNode && typeof cNode.all === 'function') cleaners = cNode.all();\n} catch (_) {}\ntry {\n  const jNode = $('Read All Cleaning Jobs');\n  if (jNode && typeof jNode.all === 'function') allJobs = jNode.all();\n} catch (_) {}\nconst items = $input.all();\nreturn items.map(item => ({ json: {\n  ...item.json,\n  _properties: Array.isArray(properties) ? properties : [],\n  _cleanersProfile: Array.isArray(cleaners) ? cleaners : [],\n  _allCleaningJobs: Array.isArray(allJobs) ? allJobs : []\n} }));"
            },
            "id": "953745a2-5362-43d9-80a7-b8818fa5714f",
            "name": "Attach CleanersProfile",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -6816,
                0
            ],
            "notes": "Runs once before loop. Attaches CleanersProfile rows to each item so Assign Cleaner can read them inside the loop."
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "3968fae9-da25-4298-ad85-b61b9962c7f1",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -6592,
                0
            ],
            "notes": "Process one cleaning job at a time to avoid overwrites and allow clear error scope."
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "569949670",
                    "mode": "id"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "bookingUid",
                            "lookupValue": "={{ $json.bookingUid }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "8399b220-92c0-4104-8ee1-bde9731161b7",
            "name": "Lookup Reservation",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -6144,
                -432
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Same spreadsheet as Phase 1. Sheet: Reservations. Enriches with propertyName, address if columns exist."
        },
        {
            "parameters": {
                "jsCode": "// If Lookup returned 0 rows or empty row, use job only with fallbacks. Otherwise use first lookup row.\n// propertyName: use reservation lookup first; else get from Properties sheet row matching propertyUid; else fallback to propertyUid.\nconst job = $('Split In Batches').last().json;\nconst items = $input.all();\nconst hasReservation = items.length > 0 && items[0].json?.bookingUid;\nconst lookup = hasReservation ? items[0].json : {};\nlet propertyName = (lookup.propertyName ?? '').toString().trim();\nif (!propertyName && Array.isArray(job._properties)) {\n  const pu = (job.propertyUid ?? '').toString().trim();\n  const propRow = job._properties.find(r => {\n    const j = r?.json ?? r;\n    return (j?.propertyUid ?? '').toString().trim() === pu;\n  });\n  if (propRow) {\n    const j = propRow?.json ?? propRow;\n    propertyName = (j?.propertyName ?? '').toString().trim();\n  }\n}\nif (!propertyName) propertyName = (job.propertyUid ?? '').toString().trim();\nconst merged = { ...job, ...lookup, propertyName, address: lookup.address ?? job.address ?? 'Address TBD' };\nreturn [{ json: merged }];"
            },
            "id": "65d1b2a2-2d78-4975-8c0b-a5962088e823",
            "name": "Ensure One Item (Job or Reservation)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5920,
                -432
            ],
            "notes": "When Lookup returns no row, pass job only with propertyName/address fallbacks so Assign Cleaner still runs."
        },
        {
            "parameters": {
                "jsCode": "// Merge cleaning job (from Split In Batches) with reservation (from Ensure One Item).\nconst job = $('Split In Batches').last().json;\nconst lookup = $input.first().json;\nconst merged = { ...job, ...lookup };\nreturn [{ json: merged }];"
            },
            "id": "627353c4-a208-4b9b-b20b-d60f1b4583ef",
            "name": "Merge Job and Reservation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5696,
                -432
            ],
            "notes": "One item: cleaning job + reservation fields for propertyName, address, etc."
        },
        {
            "parameters": {
                "jsCode": "// ASSIGN CLEANER \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d fixed property OR availability-based with round-robin tiebreak\nconst DURATION_HOURS = 3;\nconst item = $input.first().json;\nconst propertyUid = (item.propertyUid ?? '').toString().trim();\n\nconst properties   = Array.isArray(item._properties)      ? item._properties      : [];\nconst cleaners     = Array.isArray(item._cleanersProfile)  ? item._cleanersProfile : [];\nconst allJobs      = Array.isArray(item._allCleaningJobs)  ? item._allCleaningJobs : [];\n\nif (properties.length === 0) throw new Error('No Properties data. Ensure Read Properties ran.');\nif (cleaners.length === 0)   throw new Error('No CleanersProfile data. Ensure Read CleanersProfile ran.');\n\nconst get = (row, ...keys) => {\n  const j = row && (row.json !== undefined ? row.json : row);\n  if (!j || typeof j !== 'object') return '';\n  for (const k of keys) {\n    const v = j[k];\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return '';\n};\n\n// \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac Step 1: find property row \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\nconst propRow = properties.find(r => get(r, 'propertyUid') === propertyUid);\nif (!propRow) throw new Error(`No Properties row for propertyUid: ${propertyUid}.`);\n\nconst propertyNameFromSheet = get(propRow, 'propertyName');\nconst fixedCleanerId        = get(propRow, 'fixedCleanerId');\n\n// \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac Step 2: resolve cleaner \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d fixed or availability \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\nlet assignedCleanerId;\nlet isFixed = false;\n\nif (fixedCleanerId) {\n  // Fixed assignment \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d bypass availability check\n  assignedCleanerId = fixedCleanerId;\n  isFixed = true;\n} else {\n  // Availability-based assignment\n  const newStart = item.scheduledCleaningTimeUTC ? new Date(item.scheduledCleaningTimeUTC) : null;\n  if (!newStart || isNaN(newStart.getTime())) throw new Error('Missing or invalid scheduledCleaningTimeUTC on job.');\n  const newEnd = new Date(newStart.getTime() + DURATION_HOURS * 3600 * 1000);\n\n  // Collect busy cleaner IDs from ASSIGNED jobs that overlap with new job window\n  const busyCleanerIds = new Set();\n  for (const jobRow of allJobs) {\n    const j = jobRow?.json ?? jobRow;\n    const jStatus    = (j?.status ?? '').toString().trim();\n    const jCleanerId = (j?.cleanerId ?? '').toString().trim();\n    const jBookingUid = (j?.bookingUid ?? '').toString().trim();\n    // Skip: not ASSIGNED, no cleaner, or this is the same job\n    if (jStatus !== 'ASSIGNED') continue;\n    if (!jCleanerId) continue;\n    if (jBookingUid === (item.bookingUid ?? '').toString().trim()) continue;\n    // Skip if missing scheduledCleaningTimeUTC \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d treat as non-blocking\n    const startStr = (j?.scheduledCleaningTimeUTC ?? '').toString().trim();\n    if (!startStr) continue;\n    const existStart = new Date(startStr);\n    if (isNaN(existStart.getTime())) continue;\n    const existEnd = new Date(existStart.getTime() + DURATION_HOURS * 3600 * 1000);\n    // Standard interval overlap: existStart < newEnd AND existEnd > newStart\n    if (existStart < newEnd && existEnd > newStart) {\n      busyCleanerIds.add(jCleanerId);\n    }\n  }\n\n  // Available cleaners = all cleaners minus busy ones\n  const availableCleaners = cleaners.filter(r => {\n    const cId = get(r, 'cleanerId');\n    return cId && !busyCleanerIds.has(cId);\n  });\n\n  if (availableCleaners.length === 0) {\n    // Signal no-cleaner-found \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d handled by downstream IF node\n    return [{ json: { ...item, _noCleanerAvailable: true, propertyName: propertyNameFromSheet || item.propertyName || propertyUid } }];\n  }\n\n  if (availableCleaners.length === 1) {\n    assignedCleanerId = get(availableCleaners[0], 'cleanerId');\n  } else {\n    // Multiple available \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d check reset then pick lowest assignmentCount\n    const now = new Date();\n    // Reset counts if any cleaner's resetDate has passed\n    for (const r of availableCleaners) {\n      const j = r?.json ?? r;\n      const resetDateStr = (j?.assignmentCountResetDateUTC ?? '').toString().trim();\n      if (resetDateStr) {\n        const resetDate = new Date(resetDateStr);\n        if (!isNaN(resetDate.getTime()) && now >= resetDate) {\n          // Mark for reset \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\udc9d actual sheet update done in Increment node\n          if (j) j._needsReset = true;\n        }\n      }\n    }\n    // Pick cleaner with lowest count (treat missing/reset as 0)\n    let best = null;\n    let bestCount = Infinity;\n    for (const r of availableCleaners) {\n      const j = r?.json ?? r;\n      const needsReset = j?._needsReset === true;\n      const count = needsReset ? 0 : parseInt(j?.assignmentCount ?? '0', 10) || 0;\n      const cId = get(r, 'cleanerId');\n      if (count < bestCount || (count === bestCount && cId < (best?.id ?? '\u00c3\u00af\u00c2\u00bf\u00c2\u00bf'))) {\n        bestCount = count;\n        best = { id: cId, needsReset };\n      }\n    }\n    assignedCleanerId = best.id;\n  }\n}\n\n// \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac Step 3: get cleaner details \u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\u00c3\u00a2\u00e2\u20ac\udc9d\u00e2\u201a\u00ac\nconst cleanerRow = cleaners.find(r => get(r, 'cleanerId') === assignedCleanerId);\nif (!cleanerRow) throw new Error(`No CleanersProfile row for cleanerId: ${assignedCleanerId}.`);\n\nconst email      = get(cleanerRow, 'email');\nconst calendarId = get(cleanerRow, 'calendarId', 'calendar ID');\nconst name       = get(cleanerRow, 'name');\nconst phone      = get(cleanerRow, 'phone');\n\nconst assignedAt = new Date().toISOString();\nconst out = {\n  ...item,\n  cleanerId:         assignedCleanerId,\n  cleanerEmail:      email      || item.cleanerEmail      || '',\n  cleanerCalendarId: calendarId || item.cleanerCalendarId || '',\n  cleanerName:       name       || item.cleanerName       || '',\n  assignedCleaner:   name       || item.assignedCleaner   || '',\n  cleanerContact:    phone      || item.cleanerContact    || '',\n  assignedAt,\n  status: 'ASSIGNED',\n  propertyName: propertyNameFromSheet || item.propertyName || propertyUid,\n  _isFixedAssignment: isFixed,\n  _noCleanerAvailable: false\n};\ndelete out._properties;\ndelete out._cleanersProfile;\ndelete out._allCleaningJobs;\nreturn [{ json: out }];"
            },
            "id": "da1b39fb-1408-4e80-b407-d37e762be606",
            "name": "Assign Cleaner",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5472,
                -432
            ],
            "notes": "Lookup from CleanersProfile sheet by property UID. Needs columns: property UID, cleaner ID, calendar ID, email, name, contact."
        },
        {
            "parameters": {
                "jsCode": "const BASE_URL = 'https://n8n-forms.vercel.app';\nconst bookingUid = $json.bookingUid;\nconst cleanerId = $json.cleanerId;\nconst params = 'bookingId=' + encodeURIComponent(bookingUid || '') + '&cleanerId=' + encodeURIComponent(cleanerId || '');\nconst clockInLink = BASE_URL + '/clockin?' + params;\nconst checkoutLink = BASE_URL + '/checkout?' + params;\nreturn [{ json: { ...$input.first().json, clockInLink, checkoutLink } }];"
            },
            "id": "cce8d5ca-aa9e-48ac-991f-712e1b37472d",
            "name": "Generate ClockIn Form Link",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4352,
                -240
            ],
            "notes": "Builds Google Form prefilled URL with bookingUid and cleanerId for the Cleaner Clock-In form."
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $json.bookingUid }}",
                        "cleanerId": "={{ $json.cleanerId }}",
                        "assignedAt": "={{ $json.assignedAt }}",
                        "assignedCleaner": "={{ $json.cleanerName }}"
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "cleaningJobId",
                            "displayName": "cleaningJobId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "propertyUid",
                            "displayName": "propertyUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningDate",
                            "displayName": "cleaningDate",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningTime",
                            "displayName": "cleaningTime",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignedCleaner",
                            "displayName": "assignedCleaner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockIn",
                            "displayName": "clockIn",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockOut",
                            "displayName": "clockOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "workedHours",
                            "displayName": "workedHours",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "createdAtSystem",
                            "displayName": "createdAtSystem",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleanerId",
                            "displayName": "cleanerId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignedAt",
                            "displayName": "assignedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "notificationStatus",
                            "displayName": "notificationStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarStatus",
                            "displayName": "calendarStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarEventId",
                            "displayName": "calendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "adminCalendarEventId",
                            "displayName": "adminCalendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarId",
                            "displayName": "calendarId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "processingFlag",
                            "displayName": "processingFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockInTimeUTC",
                            "displayName": "clockInTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLat",
                            "displayName": "gpsClockInLat",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLng",
                            "displayName": "gpsClockInLng",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsStatus",
                            "displayName": "gpsStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "lateFlag",
                            "displayName": "lateFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "checkoutTimeUTC",
                            "displayName": "checkoutTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "scheduledCleaningTimeUTC",
                            "displayName": "scheduledCleaningTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "2253d9dd-8e6d-4756-8cf4-3a6cfa91cefb",
            "name": "Update Job Assigned",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -4128,
                -240
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Update by bookingUid. Sets cleanerId and assignedAt only. status=ASSIGNED is written later by Finalize Assignment after calendar creation."
        },
        {
            "parameters": {
                "jsCode": "// Strict UTC only. Use scheduledCleaningTimeUTC from the original job (Split In Batches), not from trimmed update output.\n// No 11:00 logic, no cleaningDate/checkOut fallbacks.\nconst DURATION_HOURS = 3;\n// Always pull the full job (with scheduledCleaningTimeUTC) from Split In Batches.\nconst job = (() => {\n  try {\n    const n = $('Split In Batches');\n    if (n && typeof n.last === 'function') {\n      const v = n.last().json;\n      if (v && typeof v === 'object') return v;\n    }\n  } catch (_) {}\n  const current = $input.first()?.json;\n  return current && typeof current === 'object' ? current : {};\n})();\nconst startTime = job.scheduledCleaningTimeUTC;\nif (!startTime || typeof startTime !== 'string' || startTime.trim() === '')\n  throw new Error('Missing scheduledCleaningTimeUTC');\nconst startDate = new Date(startTime.trim());\nif (isNaN(startDate.getTime()))\n  throw new Error('Invalid scheduledCleaningTimeUTC');\nconst endDate = new Date(startDate.getTime() + DURATION_HOURS * 3600 * 1000);\nconst endTime = endDate.toISOString();\n// Merge timing fields back onto the latest item in the chain so downstream nodes see them.\nconst base = $input.first()?.json || job;\nreturn [{ json: { ...base, startTime: startTime.trim(), endTime, durationHours: DURATION_HOURS } }];"
            },
            "id": "487151be-39a8-40a2-ae6c-82986a2f5c12",
            "name": "Calculate Cleaning Time",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3904,
                -240
            ],
            "notesInFlow": false,
            "notes": "startTime = scheduledCleaningTimeUTC from original CleaningJobs row; endTime = startTime + 3h UTC. No 11:00, no legacy fields."
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "has-event",
                            "leftValue": "={{ ($json.calendarEventId ?? '').toString().trim() }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "36eb949e-fb57-4851-971b-bc37a6e01071",
            "name": "Already Has Calendar Event?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -3680,
                -240
            ],
            "notes": "TRUE = calendarEventId set \u00c3\u00a2\u00e2\u20ac\u00a0\u00e2\u20ac\u2122 skip event creation (and notification). FALSE = create events + notify."
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "usman2acountf@gmail.com",
                    "mode": "list",
                    "cachedResultName": "usman2acountf@gmail.com"
                },
                "start": "={{ $json.startTime }}",
                "end": "={{ $json.endTime }}",
                "additionalFields": {}
            },
            "id": "beee36a1-d6ba-4976-b150-c484aaefc3c8",
            "name": "Create Admin Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.2,
            "position": [
                -3456,
                -288
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "zieubUQMxpWLThGP",
                    "name": "Google Calendar account"
                }
            },
            "notes": "Primary/admin calendar. Set calendarId in parameters (e.g. primary or shared admin calendar)."
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "={{ $('Assign Cleaner').item.json.cleanerEmail }}",
                    "mode": "id"
                },
                "start": "={{ $('Calculate Cleaning Time').item.json.startTime }}",
                "end": "={{ $('Calculate Cleaning Time').item.json.endTime }}",
                "additionalFields": {
                    "description": "={{ (($('Calculate Cleaning Time').item.json.description || '') ? ($('Calculate Cleaning Time').item.json.description + '\\n\\n') : '') + 'Clock-In Link:\\n' + ($('Generate ClockIn Form Link').item.json.clockInLink || '') }}"
                }
            },
            "id": "5c166b00-f1f1-4669-bdfa-f198c5828ebe",
            "name": "Create Cleaner Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.2,
            "position": [
                -3232,
                -288
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "zieubUQMxpWLThGP",
                    "name": "Google Calendar account"
                }
            },
            "notes": "Cleaner's calendar. Event ID from response is saved to sheet in next node. Description includes Clock-In Form link."
        },
        {
            "parameters": {
                "jsCode": "// Pass through job + admin and cleaner calendar event ids (for sheet update).\nconst job = $('Calculate Cleaning Time').last().json;\nconst cleanerEventResult = $input.first().json;\nconst cleanerEventId = cleanerEventResult?.id ?? cleanerEventResult?.data?.id ?? '';\nconst adminEventResult = $('Create Admin Calendar Event').item?.json ?? {};\nconst adminEventId = adminEventResult?.id ?? adminEventResult?.data?.id ?? '';\nreturn [{ json: { ...job, calendarEventId: cleanerEventId, adminCalendarEventId: adminEventId } }];"
            },
            "id": "df48aa1e-8290-45ea-b280-ef31e5c01dff",
            "name": "Prepare Event Id for Sheet",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3008,
                -288
            ],
            "notes": "Extracts event ID from Google Calendar create response. Cleaner calendar event ID is source of truth for link."
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $json.bookingUid }}",
                        "calendarEventId": "={{ $json.calendarEventId }}",
                        "adminCalendarEventId": "={{ $json.adminCalendarEventId }}",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "cleaningJobId",
                            "displayName": "cleaningJobId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "propertyUid",
                            "displayName": "propertyUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningDate",
                            "displayName": "cleaningDate",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningTime",
                            "displayName": "cleaningTime",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "assignedCleaner",
                            "displayName": "assignedCleaner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockIn",
                            "displayName": "clockIn",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockOut",
                            "displayName": "clockOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "workedHours",
                            "displayName": "workedHours",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "createdAtSystem",
                            "displayName": "createdAtSystem",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleanerId",
                            "displayName": "cleanerId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "assignedAt",
                            "displayName": "assignedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "notificationStatus",
                            "displayName": "notificationStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarStatus",
                            "displayName": "calendarStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarEventId",
                            "displayName": "calendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "calendarId",
                            "displayName": "calendarId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "processingFlag",
                            "displayName": "processingFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "b40fa907-b8a3-4613-9d41-1bdb073a730c",
            "name": "Update Job With Event Id",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -2784,
                -288
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Same spreadsheet as Phase 1. Sheet: CleaningJobs. Writes calendarEventId by bookingUid."
        },
        {
            "parameters": {
                "sendTo": "={{ $('Assign Cleaner').item.json.cleanerEmail }}",
                "subject": "=New Cleaning Assigned \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\u0153 {{ $('Assign Cleaner').item.json.propertyName || $('Assign Cleaner').item.json.propertyUid }}",
                "emailType": "text",
                "message": "=You have been assigned a new cleaning job.\n\nProperty: {{ $('Assign Cleaner').item.json.propertyName || $('Assign Cleaner').item.json.propertyUid }}\n\nDate: {{ DateTime.fromISO($('Calculate Cleaning Time').item.json.startTime, { zone: 'utc' }).toFormat('yyyy-MM-dd') }}\n\nTime: {{ DateTime.fromISO($('Calculate Cleaning Time').item.json.startTime, { zone: 'utc' }).toFormat('HH:mm') }} - {{ DateTime.fromISO($('Calculate Cleaning Time').item.json.endTime, { zone: 'utc' }).toFormat('HH:mm') }}\n\nGuest Count: {{ $('Assign Cleaner').item.json.adultCount + $('Assign Cleaner').item.json.childrenCount }}\nBooking Reference: {{ $('Calculate Cleaning Time').last().json.bookingUid }}\n\nCalendar Event:\n{{ $json.calendarEventId ? 'https://calendar.google.com/calendar/event?eid=' + encodeURIComponent($json.calendarEventId) : 'Event created \u00c3\u00a2\u00e2\u201a\u00ac\u00e2\u20ac\u0153 check your calendar' }}\n\nClock-In Link:\n{{ $('Generate ClockIn Form Link').item.json.clockInLink }}\n\nCheckout Link:\n{{ $('Generate ClockIn Form Link').item.json.checkoutLink }}\n\nThis email serves as official assignment confirmation.",
                "options": {}
            },
            "id": "d5cff882-55f0-4bdf-b01e-bcca67ce5766",
            "name": "Send Gmail to Cleaner",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                -2560,
                -288
            ],
            "webhookId": "1a9edaf5-05fc-43a5-b167-dae117a87bc1",
            "credentials": {
                "gmailOAuth2": {
                    "id": "6sr232YN6z3c4tiW",
                    "name": "Gmail account"
                }
            },
            "notes": "Sends to cleaner email from mapping. Calendar link uses event ID (format may vary by API)."
        },
        {
            "parameters": {},
            "id": "b19578aa-f97a-4c15-8a6c-588cfc7e8303",
            "name": "Skip (Already Has Event)",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -3456,
                -96
            ],
            "notes": "When calendarEventId already set: no duplicate event, no duplicate email. Rejoin loop."
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $json.bookingUid }}",
                        "processingFlag": "LOCKED",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "cleaningJobId",
                            "displayName": "cleaningJobId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "propertyUid",
                            "displayName": "propertyUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningDate",
                            "displayName": "cleaningDate",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningTime",
                            "displayName": "cleaningTime",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "assignedCleaner",
                            "displayName": "assignedCleaner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockIn",
                            "displayName": "clockIn",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockOut",
                            "displayName": "clockOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "workedHours",
                            "displayName": "workedHours",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "createdAtSystem",
                            "displayName": "createdAtSystem",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleanerId",
                            "displayName": "cleanerId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "assignedAt",
                            "displayName": "assignedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "notificationStatus",
                            "displayName": "notificationStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarStatus",
                            "displayName": "calendarStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarEventId",
                            "displayName": "calendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarId",
                            "displayName": "calendarId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "processingFlag",
                            "displayName": "processingFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "clockInTimeUTC",
                            "displayName": "clockInTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLat",
                            "displayName": "gpsClockInLat",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLng",
                            "displayName": "gpsClockInLng",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsStatus",
                            "displayName": "gpsStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "lateFlag",
                            "displayName": "lateFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "checkoutTimeUTC",
                            "displayName": "checkoutTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "scheduledCleaningTimeUTC",
                            "displayName": "scheduledCleaningTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "a3b61a83-3b69-490b-8a65-cb61ba38e8c4",
            "name": "Lock Cleaning Job",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -6368,
                -432
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Row-level lock: set processingFlag=LOCKED so other runs do not pick this row. Runs before Assign Cleaner."
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $('Update Job With Event Id').item.json.bookingUid }}",
                        "cleanerId": "={{ $('Prepare Event Id for Sheet').item.json.cleanerId }}",
                        "assignedAt": "={{ $('Prepare Event Id for Sheet').item.json.assignedAt }}",
                        "status": "ASSIGNED",
                        "calendarStatus": "CREATED",
                        "calendarEventId": "={{ $('Update Job With Event Id').item.json.calendarEventId }}",
                        "adminCalendarEventId": "={{ $('Update Job With Event Id').item.json.adminCalendarEventId }}",
                        "processingFlag": " ",
                        "calendarId": "={{ $('Assign Cleaner').item.json.cleanerCalendarId }}"
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "cleaningJobId",
                            "displayName": "cleaningJobId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "propertyUid",
                            "displayName": "propertyUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningDate",
                            "displayName": "cleaningDate",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleaningTime",
                            "displayName": "cleaningTime",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignedCleaner",
                            "displayName": "assignedCleaner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockIn",
                            "displayName": "clockIn",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "clockOut",
                            "displayName": "clockOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "workedHours",
                            "displayName": "workedHours",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "createdAtSystem",
                            "displayName": "createdAtSystem",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "cleanerId",
                            "displayName": "cleanerId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignedAt",
                            "displayName": "assignedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "notificationStatus",
                            "displayName": "notificationStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "calendarStatus",
                            "displayName": "calendarStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "calendarEventId",
                            "displayName": "calendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "adminCalendarEventId",
                            "displayName": "adminCalendarEventId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "calendarId",
                            "displayName": "calendarId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "processingFlag",
                            "displayName": "processingFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "clockInTimeUTC",
                            "displayName": "clockInTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLat",
                            "displayName": "gpsClockInLat",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsClockInLng",
                            "displayName": "gpsClockInLng",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "gpsStatus",
                            "displayName": "gpsStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "lateFlag",
                            "displayName": "lateFlag",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "checkoutTimeUTC",
                            "displayName": "checkoutTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "scheduledCleaningTimeUTC",
                            "displayName": "scheduledCleaningTimeUTC",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "1ff8b982-b3a8-4d15-8a6c-05fda02eaf7e",
            "name": "Finalize Assignment",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -2336,
                -288
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            },
            "notes": "Atomic update after calendar creation and Gmail: sets status=ASSIGNED, calendarStatus=CREATED, clears processingFlag."
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 569949670,
                    "mode": "list",
                    "cachedResultName": "Reservations",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw/edit#gid=569949670"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $json.bookingUid }}",
                        "cleaningStatus": "= {{ $json.status }}"
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "propertyUid",
                            "displayName": "propertyUid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "guestName",
                            "displayName": "guestName",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "checkIn",
                            "displayName": "checkIn",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "checkOut",
                            "displayName": "checkOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "adultCount",
                            "displayName": "adultCount",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "source",
                            "displayName": "source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "createdUtc",
                            "displayName": "createdUtc",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "cleaningStatus",
                            "displayName": "cleaningStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "cleaningJobId",
                            "displayName": "cleaningJobId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "createdAtSystem",
                            "displayName": "createdAtSystem",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "childrenCount",
                            "displayName": "childrenCount",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "maintenanceStatus",
                            "displayName": "maintenanceStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "payrollStatus",
                            "displayName": "payrollStatus",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -2112,
                -128
            ],
            "id": "a52e8bdc-98ab-4fe5-93ca-bcc046b65091",
            "name": "Mark jab as assigned in reservation",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -8384,
                0
            ],
            "id": "210bc636-c3b8-4b53-8326-60c708744ae5",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "1920390373",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "c688eca3-fb63-454f-81a9-485ae1f935d0",
            "name": "Read CleanersProfile",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -7936,
                0
            ],
            "executeOnce": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "f12aa7e8-32a2-4a4f-af67-368d944e5087",
            "name": "Read All Cleaning Jobs",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -7712,
                0
            ],
            "executeOnce": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "no-cleaner",
                            "leftValue": "={{ $json._noCleanerAvailable }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "cb95c743-7e12-472c-94c3-aa3dbb921199",
            "name": "Cleaner Available?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -5248,
                -432
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "2047086003",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "bookingUid": "={{ $json.bookingUid }}",
                        "status": "NEEDS_MANUAL_ASSIGNMENT",
                        "processingFlag": " "
                    },
                    "matchingColumns": [
                        "bookingUid"
                    ],
                    "schema": [
                        {
                            "id": "bookingUid",
                            "displayName": "bookingUid",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "processingFlag",
                            "displayName": "processingFlag",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "6668b566-367a-4392-9447-8fd9472b2620",
            "name": "Mark Needs Manual Assignment",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -5024,
                -432
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "usman2acountf@gmail.com",
                "subject": "={{ 'No Cleaner Available  - ' + ($('Cleaner Available?').item.json.propertyName ||$('Cleaner Available?').item.json.propertyUid ) }}",
                "emailType": "text",
                "message": "=No cleaner is available for the following job\n\nProperty : {{ $('Cleaner Available?').item.json.propertyName ||$('Cleaner Available?').item.json.propertyUid  }}\n\nBooking : {{ $('Cleaner Available?').item.json.bookingUid }}\n\nScheduled Cleaning : {{ $('Cleaner Available?').item.json.scheduledCleaningTimeUTC }}\n\n\nThe job has been marked as NEEDS_MANUAL_ASSIGNMENT in CleaningJobs. Please assign a cleaner manually.\n",
                "options": {}
            },
            "id": "fe55162e-2ffa-42a8-b2a1-035a4b11f419",
            "name": "Send Admin Alert",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                -4800,
                -432
            ],
            "webhookId": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
            "credentials": {
                "gmailOAuth2": {
                    "id": "6sr232YN6z3c4tiW",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Increment assignmentCount for the assigned cleaner.\n// Look up current count from CleanersProfile and compute reset date.\nconst item = $input.first().json;\nconst cleanerId = (item.cleanerId ?? '').toString().trim();\nconst now = new Date();\nconst nextReset = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() + 1, 1));\nconst nextResetISO = nextReset.toISOString();\n\n// Look up current assignmentCount from CleanersProfile\nconst allCleaners = $(\"Read CleanersProfile\").all().map(i => i.json);\nconst profile = allCleaners.find(c => (c.cleanerId ?? '').toString().trim() === cleanerId);\n\n// Safe count computation \u00e2\u20ac\u201d handles empty string, undefined, null, NaN\nconst rawCount = profile?.assignmentCount;\nconst parsedCount = (rawCount !== undefined && rawCount !== null && String(rawCount).trim() !== '') ? parseInt(String(rawCount).trim(), 10) : 0;\nconst safeCount = isNaN(parsedCount) ? 0 : parsedCount;\n\nif (item._isFixedAssignment || !cleanerId) {\n  return [{ json: {\n    ...item,\n    _incrementCleanerId: cleanerId,\n    _nextResetISO: nextResetISO,\n    _currentCount: String(safeCount),\n    _needsReset: false\n  } }];\n}\nreturn [{ json: {\n  ...item,\n  _incrementCleanerId: cleanerId,\n  _nextResetISO: nextResetISO,\n  _currentCount: String(safeCount),\n  _needsReset: item._needsReset === true\n} }];"
            },
            "id": "154a6be4-9400-4916-814e-8fbdbcf0cce0",
            "name": "Increment Assignment Count",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5024,
                -240
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
                    "mode": "id",
                    "cachedResultName": "Hostfully Operations V2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "1920390373",
                    "mode": "id"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "cleanerId": "={{ $json.cleanerId }}",
                        "assignmentCount": "={{ $json._isFixedAssignment ? $json._currentCount : String(parseInt($json._currentCount ?? '0', 10) + 1) }}",
                        "assignmentCountResetDateUTC": "={{ $json._nextResetISO }}"
                    },
                    "matchingColumns": [
                        "cleanerId"
                    ],
                    "schema": [
                        {
                            "id": "cleanerId",
                            "displayName": "cleanerId",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignmentCount",
                            "displayName": "assignmentCount",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "assignmentCountResetDateUTC",
                            "displayName": "assignmentCountResetDateUTC",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "0c7dc4e8-6051-4546-977c-fe724a6daf50",
            "name": "Update Assignment Count in Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -4800,
                -240
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "q52dbWoN6OaKRDZO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const full = $('Assign Cleaner').item.json;\nreturn [{ json: full }];"
            },
            "id": "b851b3b2-6267-41f7-9fe2-5633d1e35943",
            "name": "Restore Job Data After Count Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4576,
                -240
            ]
        }
    ],
    "connections": {
        "Single Item for Read Jobs": {
            "main": [
                [
                    {
                        "node": "Read Pending Cleaning Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Pending Cleaning Jobs": {
            "main": [
                [
                    {
                        "node": "Filter Pending Only",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Pending Only": {
            "main": [
                [
                    {
                        "node": "Attach CleanersProfile",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Attach CleanersProfile": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [],
                [
                    {
                        "node": "Lock Cleaning Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lock Cleaning Job": {
            "main": [
                [
                    {
                        "node": "Lookup Reservation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Reservation": {
            "main": [
                [
                    {
                        "node": "Ensure One Item (Job or Reservation)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ensure One Item (Job or Reservation)": {
            "main": [
                [
                    {
                        "node": "Merge Job and Reservation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Job and Reservation": {
            "main": [
                [
                    {
                        "node": "Assign Cleaner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assign Cleaner": {
            "main": [
                [
                    {
                        "node": "Cleaner Available?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate ClockIn Form Link": {
            "main": [
                [
                    {
                        "node": "Update Job Assigned",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Job Assigned": {
            "main": [
                [
                    {
                        "node": "Calculate Cleaning Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Cleaning Time": {
            "main": [
                [
                    {
                        "node": "Already Has Calendar Event?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Already Has Calendar Event?": {
            "main": [
                [
                    {
                        "node": "Skip (Already Has Event)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Admin Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip (Already Has Event)": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Admin Calendar Event": {
            "main": [
                [
                    {
                        "node": "Create Cleaner Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Cleaner Calendar Event": {
            "main": [
                [
                    {
                        "node": "Prepare Event Id for Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Event Id for Sheet": {
            "main": [
                [
                    {
                        "node": "Update Job With Event Id",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Job With Event Id": {
            "main": [
                [
                    {
                        "node": "Send Gmail to Cleaner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Gmail to Cleaner": {
            "main": [
                [
                    {
                        "node": "Finalize Assignment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Finalize Assignment": {
            "main": [
                [
                    {
                        "node": "Mark jab as assigned in reservation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark jab as assigned in reservation": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Read Properties",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Properties": {
            "main": [
                [
                    {
                        "node": "Read CleanersProfile",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read CleanersProfile": {
            "main": [
                [
                    {
                        "node": "Read All Cleaning Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read All Cleaning Jobs": {
            "main": [
                [
                    {
                        "node": "Single Item for Read Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cleaner Available?": {
            "main": [
                [
                    {
                        "node": "Mark Needs Manual Assignment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Increment Assignment Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Needs Manual Assignment": {
            "main": [
                [
                    {
                        "node": "Send Admin Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Admin Alert": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Increment Assignment Count": {
            "main": [
                [
                    {
                        "node": "Update Assignment Count in Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Assignment Count in Sheet": {
            "main": [
                [
                    {
                        "node": "Restore Job Data After Count Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Restore Job Data After Count Update": {
            "main": [
                [
                    {
                        "node": "Generate ClockIn Form Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "timeSavedMode": "fixed",
        "timezone": "Asia/Karachi",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": {
        "node:Schedule Trigger": {
            "recurrenceRules": []
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "b831a83b-a41f-4234-851d-71badf52fffd",
    "activeVersionId": null,
    "versionCounter": 214,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-03T14:46:02.393Z",
            "createdAt": "2026-03-03T14:46:02.393Z",
            "role": "workflow:owner",
            "workflowId": "AU1w579al67hGom7",
            "projectId": "ddeMWJyPLl8PJ11M",
            "project": {
                "updatedAt": "2026-02-19T14:48:45.746Z",
                "createdAt": "2026-02-19T14:47:38.459Z",
                "id": "ddeMWJyPLl8PJ11M",
                "name": "Usman Usman <bgmazak123@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "5b528006-fdf4-44ee-a8ed-3561544980f8"
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
