workflows/active/cleaning/workflow-4w-checkout-webhook.json
{
  "name": "Workflow 4W \u2014 Checkout Ingestion (Webhook)",
  "nodes": [
    {
      "id": "4w000001-0000-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -200],
      "parameters": {
        "width": 860,
        "height": 280,
        "content": "## Workflow 4W \u2014 Checkout Ingestion (Webhook)\n\n**Replaces Workflow 4** (Google Sheets Trigger version).\nReceives POST from React Checkout page at `/webhook/checkout`.\n\n**Flow:** Webhook \u2192 Normalize \u2192 GPS parse \u2192 Duplicate check \u2192 Insert to CheckoutSubmissions \u2192 Respond Success\nParallel: \u2192 Append Maintenance Ticket (if issue reported)\nParallel: \u2192 Append Supply Usage rows (if supplies used)\n\n**Response codes:**\n- 200 `{status: 'success'}` \u2014 inserted\n- 200 `{status: 'skipped'}` \u2014 duplicate (already approved)\n- 400 `{status: 'error'}` \u2014 validation failed + error email sent"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 200],
      "webhookId": "7a3f91b2-cc4d-48e1-a5f7-2b8c0e14d96a",
      "parameters": {
        "path": "checkout",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000003",
      "name": "Normalize and Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 200],
      "parameters": {
        "jsCode": "// Normalize field names: accept React camelCase OR Google Forms column names.\n// Webhook nests POST body under $json.body -- unwrap it.\nconst raw = $input.first().json;\nconst item = raw.body || raw;\nconst get = (name) => {\n  const v = item[name];\n  if (v !== undefined && v !== null) return v;\n  const key = Object.keys(item).find(k => k.trim() === name);\n  return key !== undefined ? item[key] : undefined;\n};\n\nconst bookingUid        = (item.bookingId        || get('Booking ID')                       || '').toString().trim();\nconst cleanerIdFromForm = (item.cleanerId         || get('Cleaner ID')                       || '').toString().trim();\nconst confirmCheckout   = (item.confirmCheckout   || get('Confirm Checkout')                 || '').toString().trim();\nconst captureLocation   = (item.captureLocation   || get('Capture Location (GPS)')           || get('Capture Location') || '').toString().trim();\nconst submittedAt       = (item.submittedAt       || get('Timestamp')                        || new Date().toISOString()).toString();\n\nconst issueReported = (item.issueReported     || get('Any maintenance issues to report?') || '').toString().trim();\nconst issueType     = (item.issueType         || get('Issue Type')                        || '').toString().trim();\nconst description   = (item.issueDescription  || get('Issue Description')                || '').toString().trim();\nconst photoUrl      = (Array.isArray(item.photoUrls) ? item.photoUrls.join(',') : (item.photoUrls || get('Photo of Issue') || '')).toString().trim();\nconst priority      = (item.issuePriority     || get('Issue Priority')                    || '').toString().trim();\nconst lowStockAlert = (item.lowStockAlert     || get('Low Stock Alert')                   || '').toString().trim();\n\nconst supplyColMap = {\n  'Trash Bags \\u2014 Qty Used':          'Trash Bags',\n  'All-Purpose Cleaner \\u2014 Qty Used': 'All-Purpose Cleaner',\n  'Glass Cleaner \\u2014 Qty Used':       'Glass Cleaner',\n  'Disinfectant \\u2014 Qty Used':        'Disinfectant',\n  'Toilet Cleaner \\u2014 Qty Used':      'Toilet Cleaner',\n  'Floor Cleaner \\u2014 Qty Used':       'Floor Cleaner',\n  'Sponges \\u2014 Qty Used':             'Sponges',\n  'Paper Towels \\u2014 Qty Used':        'Paper Towels',\n  'Laundry Detergent \\u2014 Qty Used':   'Laundry Detergent',\n  'Fabric Softener \\u2014 Qty Used':     'Fabric Softener',\n  'Dish Soap \\u2014 Qty Used':           'Dish Soap',\n  'Air Freshener \\u2014 Qty Used':       'Air Freshener',\n  'Microfiber Cloths \\u2014 Qty Used':   'Microfiber Cloths',\n  'Mop Pads \\u2014 Qty Used':            'Mop Pads'\n};\n\nlet supplies = [];\nif (item.supplies && typeof item.supplies === 'object' && !Array.isArray(item.supplies)) {\n  for (const [itemName, qty] of Object.entries(item.supplies)) {\n    const q = parseInt(qty, 10);\n    if (!isNaN(q) && q > 0) supplies.push({ itemName, quantityUsed: q });\n  }\n} else {\n  for (const [col, itemName] of Object.entries(supplyColMap)) {\n    const raw = (get(col) || '').toString().trim();\n    const qty = raw === '' ? 0 : parseInt(raw, 10);\n    if (!isNaN(qty) && qty > 0) supplies.push({ itemName, quantityUsed: qty });\n  }\n}\n\nconst isShortLink = /^(https?:\\/\\/)?(www\\.)?(maps\\.app\\.goo\\.gl|goo\\.gl\\/maps)\\/\\S+/i.test(captureLocation);\n\nreturn [{ json: {\n  bookingUid, cleanerIdFromForm, confirmCheckout, captureLocation, isShortLink,\n  submittedAt, issueReported, issueType, description, photoUrl, priority, lowStockAlert, supplies\n} }];"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000004",
      "name": "Is Short Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "short",
              "leftValue": "={{ $json.isShortLink }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000005",
      "name": "Resolve Short Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 0],
      "parameters": {
        "url": "={{ $json.captureLocation }}",
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000006",
      "name": "Parse Short Link Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0],
      "parameters": {
        "jsCode": "try {\n  const form = $('Normalize and Check').first().json;\n  if (!form.bookingUid) throw new Error('Booking ID is missing');\n  if (!form.cleanerIdFromForm) throw new Error('Cleaner ID is missing');\n  if (!form.confirmCheckout || form.confirmCheckout.toLowerCase() !== 'yes') throw new Error('Checkout not confirmed');\n\n  const resp = $input.first().json;\n  const raw = (resp.data != null ? resp.data : resp.body != null ? resp.body : typeof resp === 'string' ? resp : JSON.stringify(resp));\n  const str = typeof raw === 'string' ? raw : String(raw);\n  let m = str.match(/q=(-?\\d+\\.\\d+)%2C(-?\\d+\\.\\d+)/);\n  if (!m) m = str.match(/(-?\\d+\\.\\d+),(-?\\d+\\.\\d+)/);\n  if (!m) m = str.match(/3d(-?\\d+\\.\\d+)[^4]*4d(-?\\d+\\.\\d+)/);\n  if (!m) throw new Error('Could not find coordinates in short link response.');\n\n  return [{ json: {\n    ...form,\n    gpsLat: m[1], gpsLng: m[2],\n    submissionTimestamp: form.submittedAt,\n    processingStatus: 'PENDING', resultMessage: '', processedAt: '',\n    hasError: false\n  } }];\n} catch (err) {\n  const form = $('Normalize and Check').first().json;\n  return [{ json: { hasError: true, errorMessage: err.message, bookingUid: form.bookingUid || 'unknown', cleanerIdFromForm: form.cleanerIdFromForm || '', submissionTimestamp: form.submittedAt || new Date().toISOString() } }];\n}"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000007",
      "name": "ParseAndValidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 400],
      "parameters": {
        "jsCode": "try {\n  const form = $('Normalize and Check').first().json;\n  if (!form.bookingUid) throw new Error('Booking ID is missing');\n  if (!form.cleanerIdFromForm) throw new Error('Cleaner ID is missing');\n  if (!form.confirmCheckout || form.confirmCheckout.toLowerCase() !== 'yes') throw new Error('Checkout not confirmed');\n  if (!form.captureLocation) throw new Error('Location link missing');\n\n  function parseLatLngFromString(str) {\n    const m = str.match(/(-?\\d+\\.\\d+),(-?\\d+\\.\\d+)/);\n    if (m) return { lat: m[1], lng: m[2] };\n    const dmsRegex = /(\\d+)[\\u00b0\\u00ba]\\s*(\\d+)['\\u2032']\\s*([\\d.]+)[\"\\u2033]?\\s*([NS])\\s*(\\d+)[\\u00b0\\u00ba]\\s*(\\d+)['\\u2032']\\s*([\\d.]+)[\"\\u2033]?\\s*([EW])/i;\n    const dms = str.match(dmsRegex);\n    if (!dms) return null;\n    const latSign = dms[4].toUpperCase() === 'S' ? -1 : 1;\n    const lngSign = dms[8].toUpperCase() === 'W' ? -1 : 1;\n    const lat = latSign * (parseInt(dms[1],10) + parseInt(dms[2],10)/60 + parseFloat(dms[3])/3600);\n    const lng = lngSign * (parseInt(dms[5],10) + parseInt(dms[6],10)/60 + parseFloat(dms[7])/3600);\n    return { lat: String(lat), lng: String(lng) };\n  }\n  const parsed = parseLatLngFromString(form.captureLocation);\n  const gpsLat = parsed ? parsed.lat : '';\n  const gpsLng = parsed ? parsed.lng : '';\n\n  return [{ json: {\n    ...form,\n    gpsLat, gpsLng,\n    submissionTimestamp: form.submittedAt,\n    processingStatus: 'PENDING', resultMessage: '', processedAt: '',\n    hasError: false\n  } }];\n} catch (err) {\n  const form = $('Normalize and Check').first().json;\n  return [{ json: { hasError: true, errorMessage: err.message, bookingUid: form.bookingUid || 'unknown', cleanerIdFromForm: form.cleanerIdFromForm || '', submissionTimestamp: form.submittedAt || new Date().toISOString() } }];\n}"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000008",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "err-check",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000009",
      "name": "Resolve Recipient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 0],
      "parameters": {
        "jsCode": "const ADMIN_EMAIL = 'bgmazak123@gmail.com';\nconst cleanerIdFromForm = $json.cleanerIdFromForm || '';\nconst errorMessage = $json.errorMessage || 'Unknown error';\nconst bookingUid = $json.bookingUid || 'unknown';\n\nconst cleanerMap = {\n  '218jieksiei20iw0-ks2kwi219':      { email: 'bgmazak123@gmail.com',             name: 'Usman' },\n  'iwshwh38e8jsij28e892js21j2':      { email: 'nomiads222@gmail.com',             name: 'Nouman' },\n  'iwshwh3eeeesij28e892js21j2':      { email: 'noumanyounask@gmail.com',          name: 'Ali' },\n  'iwshwh3eeeeansaksjasjasjajs':     { email: 'office@daydrinkingproperties.com', name: 'David Schmutz' },\n  'jsljdjldjsljdjsdjsjdxmmxmxmxks':  { email: 'Kelly@daydrinkingproperties.com',  name: 'Kelly Williamson' },\n  'eb68f11d-c077-409b-a3':           { email: 'sdrenske86@gmail.com',             name: 'Sarah Drenske' },\n  'jsljdjldjsljdjsc2-ba96d3bf8af2':  { email: 'hollie.featherstone@gmail.com',    name: 'Hollie Featherstone' }\n};\n\nlet recipientEmail = ADMIN_EMAIL;\nlet recipientName = 'Admin';\nif (cleanerIdFromForm && cleanerMap[cleanerIdFromForm]) {\n  recipientEmail = cleanerMap[cleanerIdFromForm].email;\n  recipientName  = cleanerMap[cleanerIdFromForm].name;\n}\nreturn [{ json: { recipientEmail, recipientName, errorMessage, bookingUid, cleanerIdFromForm, submissionTimestamp: $json.submissionTimestamp || new Date().toISOString() } }];"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000010",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "onError": "continueRegularOutput",
      "position": [1500, 0],
      "parameters": {
        "promptType": "define",
        "text": "={\"contents\":[{\"parts\":[{\"text\":\"You are an error message simplifier for a cleaning company automated system. A cleaner submitted a clock-out form and the system encountered an error. Explain the error in simple, friendly language that a cleaner can understand. Keep it to 2-3 sentences max. No technical jargon. If the error is about coordinates or GPS, say the location was not recognized please go under 100 meter radius of the property. If about checkout confirmation, say they need to confirm checkout. Always suggest what they can do to fix it. Original error: {{ $json.errorMessage }} Booking ID: {{ $json.bookingUid }} Cleaner: {{ $json.recipientName }} Write the simplified message only.\"}]}],\"generationConfig\":{\"temperature\":0.3,\"maxOutputTokens\":200}}",
        "batching": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000011",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "G4BlsVg8cIwBbbbD",
          "name": "Usman2Account"
        }
      },
      "parameters": { "options": {} }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000012",
      "name": "Extract Simplified Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 0],
      "parameters": {
        "jsCode": "const prev = $('Resolve Recipient').first().json;\nconst geminiResp = $input.first().json;\nlet simplifiedError = prev.errorMessage;\ntry { simplifiedError = geminiResp.candidates[0].content.parts[0].text.trim(); } catch (e) {}\nreturn [{ json: { ...prev, simplifiedError } }];"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000013",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1980, -100],
      "credentials": {
        "gmailOAuth2": {
          "id": "6sr232YN6z3c4tiW",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "=Clock-Out Error \u2014 Booking {{ $json.bookingUid }}",
        "emailType": "text",
        "message": "={{ $('Basic LLM Chain').item.json.text }}\n\n\u2014 Cleaning Operations System",
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000014",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1980, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.simplifiedError || $json.errorMessage || 'Unknown error' }}\"\n}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000015",
      "name": "Lookup Existing Checkout",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "position": [1260, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292187736,
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            { "lookupColumn": "bookingUid", "lookupValue": "={{ $json.bookingUid }}" },
            { "lookupColumn": "processingStatus", "lookupValue": "APPROVED" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000016",
      "name": "Reject If Already Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400],
      "parameters": {
        "jsCode": "const existing = $input.all();\nlet parsed;\nlet parsedFromShortLink;\nlet parsedFromDirect;\ntry { parsedFromShortLink = $('Parse Short Link Response').first().json; } catch (_) {}\ntry { parsedFromDirect = $('ParseAndValidate').first().json; } catch (_) {}\n\nif (parsedFromShortLink && parsedFromDirect) {\n  const tsA = new Date(parsedFromShortLink.submissionTimestamp || 0).getTime();\n  const tsB = new Date(parsedFromDirect.submissionTimestamp || 0).getTime();\n  parsed = tsA >= tsB ? parsedFromShortLink : parsedFromDirect;\n} else {\n  parsed = parsedFromShortLink || parsedFromDirect;\n}\nif (!parsed) throw new Error('Missing parsed submission');\n\nconst hasApproved = existing.some(i =>\n  (i.json?.processingStatus ?? '').toString().trim() === 'APPROVED');\nif (hasApproved) return [{ json: { skipInsert: true, bookingUid: parsed.bookingUid } }];\nreturn [{ json: { ...parsed, skipInsert: false } }];"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000017",
      "name": "Should Insert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "do-insert",
              "leftValue": "={{ $json.skipInsert }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000018",
      "name": "Insert into CheckoutSubmissions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292187736,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "cleanerIdFromForm": "={{ $json.cleanerIdFromForm }}",
            "gpsLat": "={{ $json.gpsLat }}",
            "gpsLng": "={{ $json.gpsLng }}",
            "submissionTimestamp": "={{ $json.submissionTimestamp }}",
            "processingStatus": "={{ $json.processingStatus }}",
            "resultMessage": "={{ $json.resultMessage }}",
            "processedAt": "={{ $json.processedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "bookingUid",           "displayName": "bookingUid",           "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "cleanerIdFromForm",     "displayName": "cleanerIdFromForm",     "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "gpsLat",               "displayName": "gpsLat",               "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "gpsLng",               "displayName": "gpsLng",               "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "submissionTimestamp",   "displayName": "submissionTimestamp",   "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "processingStatus",      "displayName": "processingStatus",      "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "resultMessage",         "displayName": "resultMessage",         "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "processedAt",           "displayName": "processedAt",           "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000019",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Checkout submitted successfully\",\n  \"bookingUid\": \"{{ $json.bookingUid }}\"\n}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000020",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1980, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"skipped\",\n  \"message\": \"Checkout already approved for this booking\",\n  \"bookingUid\": \"{{ $json.bookingUid }}\"\n}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000021",
      "name": "Is Maintenance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "maint-check",
              "leftValue": "={{ $('Reject If Already Approved').first().json.issueReported }}",
              "rightValue": "yes",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000022",
      "name": "Append Maintenance Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 569911294,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId":   "=MT-{{ $('Reject If Already Approved').first().json.bookingUid }}-{{ $now.toMillis() }}",
            "bookingUid": "={{ $('Reject If Already Approved').first().json.bookingUid }}",
            "propertyUid": "",
            "cleanerId":  "={{ $('Reject If Already Approved').first().json.cleanerIdFromForm }}",
            "issueType":  "={{ $('Reject If Already Approved').first().json.issueType }}",
            "description": "={{ $('Reject If Already Approved').first().json.description }}",
            "photoUrl":   "={{ $('Reject If Already Approved').first().json.photoUrl }}",
            "priority":   "={{ $('Reject If Already Approved').first().json.priority }}",
            "status":     "OPEN",
            "reportedAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "ticketId",   "displayName": "ticketId",   "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "bookingUid", "displayName": "bookingUid", "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "propertyUid","displayName": "propertyUid","type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "cleanerId",  "displayName": "cleanerId",  "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "issueType",  "displayName": "issueType",  "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "description","displayName": "description","type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "photoUrl",   "displayName": "photoUrl",   "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "priority",   "displayName": "priority",   "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "status",     "displayName": "status",     "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "reportedAt", "displayName": "reportedAt", "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000023",
      "name": "Parse Supply Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 600],
      "parameters": {
        "jsCode": "// Read from pre-insert node to get supply data (Insert output drops non-mapped fields)\nconst item = $('Reject If Already Approved').first().json;\nconst supplies = item.supplies || [];\nif (!Array.isArray(supplies) || supplies.length === 0) return [];\nreturn supplies.map(s => ({ json: {\n  bookingUid: item.bookingUid,\n  cleanerIdFromForm: item.cleanerIdFromForm,\n  propertyUid: '',\n  itemName: s.itemName,\n  quantityUsed: s.quantityUsed,\n  loggedAt: new Date().toISOString()\n} }));"
      }
    },
    {
      "id": "4w000001-0000-0000-0000-000000000024",
      "name": "Append Supply Usage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2460, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q6LUdIogNrE6krKhA0HcK9iWT7yaV5MiWDeAFEkl6kw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 469288724,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid":       "={{ $json.bookingUid }}",
            "cleanerIdFromForm":"={{ $json.cleanerIdFromForm }}",
            "propertyUid":      "={{ $json.propertyUid }}",
            "itemName":         "={{ $json.itemName }}",
            "quantityUsed":     "={{ $json.quantityUsed }}",
            "loggedAt":         "={{ $json.loggedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "bookingUid",        "displayName": "bookingUid",        "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "cleanerIdFromForm", "displayName": "cleanerIdFromForm", "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "propertyUid",       "displayName": "propertyUid",       "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "itemName",          "displayName": "itemName",          "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "quantityUsed",      "displayName": "quantityUsed",      "type": "number", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "loggedAt",          "displayName": "loggedAt",          "type": "string", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize and Check", "type": "main", "index": 0 }]]
    },
    "Normalize and Check": {
      "main": [[{ "node": "Is Short Link?", "type": "main", "index": 0 }]]
    },
    "Is Short Link?": {
      "main": [
        [{ "node": "Resolve Short Link", "type": "main", "index": 0 }],
        [{ "node": "ParseAndValidate",   "type": "main", "index": 0 }]
      ]
    },
    "Resolve Short Link": {
      "main": [[{ "node": "Parse Short Link Response", "type": "main", "index": 0 }]]
    },
    "Parse Short Link Response": {
      "main": [[{ "node": "Has Error?", "type": "main", "index": 0 }]]
    },
    "ParseAndValidate": {
      "main": [[{ "node": "Has Error?", "type": "main", "index": 0 }]]
    },
    "Has Error?": {
      "main": [
        [{ "node": "Resolve Recipient",        "type": "main", "index": 0 }],
        [{ "node": "Lookup Existing Checkout", "type": "main", "index": 0 }]
      ]
    },
    "Resolve Recipient": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Extract Simplified Error", "type": "main", "index": 0 }]]
    },
    "Extract Simplified Error": {
      "main": [[
        { "node": "Send Error Email", "type": "main", "index": 0 },
        { "node": "Respond Error",    "type": "main", "index": 0 }
      ]]
    },
    "Lookup Existing Checkout": {
      "main": [[{ "node": "Reject If Already Approved", "type": "main", "index": 0 }]]
    },
    "Reject If Already Approved": {
      "main": [[{ "node": "Should Insert?", "type": "main", "index": 0 }]]
    },
    "Should Insert?": {
      "main": [
        [{ "node": "Insert into CheckoutSubmissions", "type": "main", "index": 0 }],
        [{ "node": "Respond Duplicate",               "type": "main", "index": 0 }]
      ]
    },
    "Insert into CheckoutSubmissions": {
      "main": [[
        { "node": "Respond Success",  "type": "main", "index": 0 },
        { "node": "Is Maintenance?",  "type": "main", "index": 0 },
        { "node": "Parse Supply Items","type": "main", "index": 0 }
      ]]
    },
    "Is Maintenance?": {
      "main": [
        [{ "node": "Append Maintenance Ticket", "type": "main", "index": 0 }]
      ]
    },
    "Parse Supply Items": {
      "main": [[{ "node": "Append Supply Usage", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
